# Ejercicios Matplot
- A continuación encontrará diferentes ejercicios para practicar Matplotlib. No es tan importante que los datos que use sean exactamente los de las gráficas, es más importante que logre definir las configuraciones correctas para lograr una gráfica similar.

In [6]:
import pandas as pd

datos = pd.read_csv('../Datos Adicionales/company_sales_data.csv')
datos.head()

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,1,2500,1500,5200,9200,1200,1500,21100,211000
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700
3,4,3400,1130,5870,8870,1870,1130,22270,222700
4,5,3600,1740,4560,7760,1560,1740,20960,209600

## Ejercicio 1
Replique las siguientes gráficas

Leer profit total de todos los meses y graficar una gráfica lineal

<img src='https://pynative.com/wp-content/uploads/2019/01/matplotlib_and_pandas_exercise_1_plot_company_profit.png' width=500>

## Ejercicio 2

Leer profit total de todos los meses y graficar una gráfica lineal con los siguientes estilos

<img src='https://pynative.com/wp-content/uploads/2019/01/matplotlib_and_pandas_exercise_2_plot_style_properties-768x512.png' width=500>

## Ejercicio 3

Muestre el total de unidades vendidas por mes para cada producto. Muestre una línea por producto

<img src='https://pynative.com/wp-content/uploads/2019/01/matplotlib_and_pandas_exercise_3_multiline_plots-768x512.png' width=500>

## Ejercicio 4

Muestre los profits por mes utilizando un gráfico de dispersión. La grilla (grid) deberá tener el estilo '-'

<img src='https://pynative.com/wp-content/uploads/2019/01/matplotlib_and_pandas_exercise_4_show_scatter_plot-768x512.png' width=500>

## Ejercicio 5

Muestre las ventas de 'facewash' y 'bathingsoap' en dos subplots

<img src='https://pynative.com/wp-content/uploads/2019/01/matplotlib_pandas_exercise_9_show_sub_plot-768x512.png' width=500>

## Ejercicio 6

Muestre un 'stack plot' que muestre el total de ventas por cada producto

<img src='https://pynative.com/wp-content/uploads/2019/01/matplotbib_pandas_exercise10_show_stack_plot-768x512.png' width=500>